<a href="https://colab.research.google.com/github/JessicaCastro99/EngenheiroDados/blob/exercicios_python/Jessica_Castro_Exercicios_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importando as bibliotecas

import pandas as pd

In [ ]:
# Lendo arquivo

tabela = pd.read_csv('https://drive.google.com/uc?export=download&id=1A8pS9Oeg2i2_gEC0o-J6bTuxfh6T2YNU')

# visualizando a tabela
display(tabela)

,ID_Venda,Produto,Categoria,Quantidade Vendida,Preço Unitário,Valor da Venda,Método de Pagamento,Status do Pedido,Cliente_ID,Data da Venda
0,1,Smartphone,Eletrônicos,5,2056,10280.0,NaN,Entregue,1094,2025-02-07
1,2,SSD,Eletrônicos,10,3506,35060.0,Cartão de Crédito,Entregue,1011,2024-12-10
2,3,Mouse,Eletrônicos,9,1678,15102.0,Transferência Bancária,Entregue,1057,2024-06-03
3,4,Monitor,Eletrônicos,3,3512,NaN,Pix,Em andamento,1019,2024-12-11
4,5,Cadeira Gamer,Eletrônicos,2,3162,6324.0,NaN,Em andamento,1044,2024-05-26
...,...,...,...,...,...,...,...,...,...,...
95,96,Monitor,Móveis,4,1038,NaN,Boleto,Em andamento,1015,2024-06-30
96,97,Teclado,Acessórios,4,4016,16064.0,Pix,Cancelado,1075,2024-07-06
97,98,NaN,Móveis,2,1640,3280.0,Pix,NaN,1046,2024-12-30
98,99,Monitor,Eletrônicos,9,1086,NaN,Pix,Entregue,1006,2024-06-21
99,100,NaN,Acessórios,8,890,7120.0,Cartão de Crédito,Cancelado,1036,2024-08-03

In [ ]:
# 01. Quantos registros existem na base de dados?

print(tabela.shape)

(100, 10)

In [ ]:
# 02. Quantos registros possuem valores ausentes?

soma = tabela.isnull().any(axis=1).sum()
display(soma)

np.int64(35)

In [ ]:
# 03. Substitua os valores ausentes na coluna "Valor da Venda" pela média das vendas e exiba a nova média.

# Aqui não vai funcionar ainda, porque a média será NaN
media = tabela['Valor da Venda'].mean()
# Vai retornar NaN
print("Média:", media)

Média: 14619.422222222222

In [ ]:
# 04. Faça a alteração da coluna "Quantidade Vendida" para o tipo inteiro e exiba o DataFrame.'''
tabela['Quantidade Vendida'] = tabela['Quantidade Vendida'].astype(int)
print(tabela['Quantidade Vendida'])

0      5
1     10
2      9
3      3
4      2
      ..
95     4
96     4
97     2
98     9
99     8
Name: Quantidade Vendida, Length: 100, dtype: int64

In [ ]:
# 1. Calcular o valor máximo ignorando os nulos
maximo = tabela['Valor da Venda'].dropna().max()

# 2. Usar apply com verificação de tipo
produto_maximo = tabela[tabela['Valor da Venda'].apply(
    lambda x: np.isclose(x, maximo) if pd.notnull(x) else False
)]

# 3. Exibir resultado
print(f"Maior valor de venda: R$ {maximo:.2f}")
print("\nProduto(s) vendido(s) por esse valor:")
print(produto_maximo[['Produto', 'Valor da Venda']])

Maior valor de venda: R$ 46730.00

Produto(s) vendido(s) por esse valor:
     Produto  Valor da Venda
77  Notebook         46730.0

In [ ]:
# 06. Quantos pedidos foram feitos para cada categoria de produto?
# Contar quantos pedidos por categoria
quantidade_por_categoria = tabela['Categoria'].value_counts()

print("Pedidos por categoria de produto:")
print(quantidade_por_categoria)

Pedidos por categoria de produto:
Categoria
Acessórios     27
Eletrônicos    25
Móveis         25
Periféricos    23
Name: count, dtype: int64

In [ ]:
# 07. Qual é a média de preço dos produtos por categoria?

media_por_categoria = tabela.groupby('Categoria')['Preço Unitário'].mean()

print("Média de preço dos produtos por categoria:")
print(media_por_categoria)

Média de preço dos produtos por categoria:
Categoria
Acessórios     2382.259259
Eletrônicos    2838.080000
Móveis         2086.440000
Periféricos    2346.086957
Name: Preço Unitário, dtype: float64

In [ ]:
# 08. Liste os produtos únicos da base de dados.

produtos_unicos = tabela['Produto'].unique()

print("Produtos únicos na base de dados:")
print(produtos_unicos)

Produtos únicos na base de dados:
['Smartphone' 'SSD' 'Mouse' 'Monitor' 'Cadeira Gamer' nan 'Impressora'
 'Notebook' 'Teclado' 'Headset' 'Placa de Vídeo']

In [ ]:
# 09. Crie uma nova coluna chamada "Ano da Venda" que armazena o ano em que a venda foi realizada.

# 1. Garantir que a coluna está no formato datetime
tabela['Data da Venda'] = pd.to_datetime(tabela['Data da Venda'])

# 2. Criar a nova coluna com o ano
tabela['Ano da Venda'] = tabela['Data da Venda'].dt.year

# 3. Visualizar as primeiras linhas
print(tabela[['Data da Venda', 'Ano da Venda']].head())

  Data da Venda  Ano da Venda
0    2025-02-07          2025
1    2024-12-10          2024
2    2024-06-03          2024
3    2024-12-11          2024
4    2024-05-26          2024

In [ ]:
# 10. Liste os 5 produtos mais vendidos.

# Agrupar por produto e somar as quantidades vendidas
mais_vendidos = tabela.groupby('Produto')['Quantidade Vendida'].sum()

# Ordenar do maior para o menor e pegar os 5 primeiros
top_5_produtos = mais_vendidos.sort_values(ascending=False).head(5)

# Exibir resultado
print("Top 5 produtos mais vendidos:")
print(top_5_produtos)

Top 5 produtos mais vendidos:
Produto
Notebook         86
Impressora       84
Monitor          74
Cadeira Gamer    70
Smartphone       68
Name: Quantidade Vendida, dtype: int64

In [ ]:
# 11. Quantos pedidos foram feitos por cada método de pagamento?

pedidos_por_pagamento = tabela['Método de Pagamento'].value_counts()

print("Pedidos por método de pagamento:")
print(pedidos_por_pagamento)

Pedidos por método de pagamento:
Método de Pagamento
Pix                       26
Boleto                    24
Cartão de Crédito         23
Transferência Bancária    17
Name: count, dtype: int64

In [ ]:
# 12. Qual é o faturamento total por categoria de produto?

# 1. Criar a coluna 'Valor Total' se ainda não existir
tabela['Valor Total'] = tabela['Quantidade Vendida'] * tabela['Preço Unitário']

# 2. Agrupar por categoria e somar o faturamento
faturamento_por_categoria = tabela.groupby('Categoria')['Valor Total'].sum()

# 3. Exibir resultado
print("Faturamento total por categoria de produto:")
print(faturamento_por_categoria)

Faturamento total por categoria de produto:
Categoria
Acessórios     356349
Eletrônicos    484439
Móveis         321854
Periféricos    293501
Name: Valor Total, dtype: int64

In [ ]:
# 13. Liste os 5 clientes que mais gastaram em compras.

# 1. Criar a coluna 'Valor Total' se ainda não existir
tabela['Valor Total'] = tabela['Quantidade Vendida'] * tabela['Preço Unitário']

# 2. Agrupar por cliente e somar os gastos
clientes_que_mais_gastaram = tabela.groupby('Cliente_ID')['Valor Total'].sum()

# 3. Ordenar do maior para o menor e selecionar os 5 primeiros
top_5_clientes = clientes_que_mais_gastaram.sort_values(ascending=False).head(5)

# 4. Exibir o resultado
print("Top 5 clientes que mais gastaram:")
print(top_5_clientes)

Top 5 clientes que mais gastaram:
Cliente_ID
1028    121558
1031     71648
1011     67620
1082     66280
1037     56439
Name: Valor Total, dtype: int64

In [ ]:
#14. Existe algum registro sem informação de produto? Liste-os.

# Filtrar linhas onde a coluna 'Produto' está vazia (nula)
produtos_vazios = tabela[tabela['Produto'].isnull()]

# Verificar se existem registros assim
if produtos_vazios.empty:
    print("Todos os registros têm informação de produto.")
else:
    print("Registros sem informação de produto encontrados:")
    print(produtos_vazios)

Registros sem informação de produto encontrados:
    ID_Venda Produto    Categoria  Quantidade Vendida  Preço Unitário  \
12        13     NaN  Periféricos                   3            2219
64        65     NaN   Acessórios                   4            1257
65        66     NaN  Eletrônicos                   8            3445
66        67     NaN  Periféricos                   4            1258
68        69     NaN   Acessórios                   8            4401
69        70     NaN  Periféricos                   3            3938
70        71     NaN  Periféricos                   4            2299
81        82     NaN  Eletrônicos                   4            1683
97        98     NaN       Móveis                   2            1640
99       100     NaN   Acessórios                   8             890

    Valor da Venda     Método de Pagamento Status do Pedido  Cliente_ID  \
12          6657.0                  Boleto         Entregue        1095
64          5028.0       Cartão de Crédito         Entregue        1031
65             NaN                  Boleto        Cancelado        1089
66          5032.0       Cartão de Crédito         Entregue        1099
68         35208.0                     Pix     Em andamento        1078
69         11814.0  Transferência Bancária     Em andamento        1096
70             NaN  Transferência Bancária         Entregue        1091
81          6732.0       Cartão de Crédito        Cancelado        1019
97          3280.0                     Pix              NaN        1046
99          7120.0       Cartão de Crédito        Cancelado        1036

   Data da Venda  Ano da Venda  Valor Total
12    2024-06-17          2024         6657
64    2024-07-31          2024         5028
65    2024-09-16          2024        27560
66    2024-08-26          2024         5032
68    2024-07-16          2024        35208
69    2024-11-25          2024        11814
70    2024-11-05          2024         9196
81    2024-11-29          2024         6732
97    2024-12-30          2024         3280
99    2024-08-03          2024         7120

In [ ]:
# 15. Crie uma nova coluna "Faixa de Preço" usando a coluna "Preço Unitário" para classificar os produtos como:

# Baixo (preço < 50)
# Médio (50 ≤ preço ≤ 300)
# Alto (preço > 300)

def classificar_preco(preco):
    if preco < 50:
        return 'Baixo'
    elif 50 <= preco <= 300:
        return 'Médio'
    else:
        return 'Alto'

# Criar nova coluna com faixa de preço
tabela['Faixa de Preço'] = tabela['Preço Unitário'].apply(classificar_preco)

# Exibir as primeiras linhas para verificar
print(tabela[['Produto', 'Preço Unitário', 'Faixa de Preço']].head())

         Produto  Preço Unitário Faixa de Preço
0     Smartphone            2056           Alto
1            SSD            3506           Alto
2          Mouse            1678           Alto
3        Monitor            3512           Alto
4  Cadeira Gamer            3162           Alto

In [ ]:
display(tabela.head(3))

,ID_Venda,Produto,Categoria,Quantidade Vendida,Preço Unitário,Valor da Venda,Método de Pagamento,Status do Pedido,Cliente_ID,Data da Venda,Ano da Venda,Valor Total,Faixa de Preço
0,1,Smartphone,Eletrônicos,5,2056,10280.0,NaN,Entregue,1094,2025-02-07,2025,10280,Alto
1,2,SSD,Eletrônicos,10,3506,35060.0,Cartão de Crédito,Entregue,1011,2024-12-10,2024,35060,Alto
2,3,Mouse,Eletrônicos,9,1678,15102.0,Transferência Bancária,Entregue,1057,2024-06-03,2024,15102,Alto

In [ ]:
# 16. Crie uma nova coluna "Status Simplificado" para transformar a coluna "Status do Pedido":

# "Entregue" → "Finalizado"
# "Em andamento" → "Processando"
# "Cancelado" → "Cancelado"

# Criando um dicionário de mapeamento
mapeamento_status = {
    'Entregue': 'Finalizado',
    'Em andamento': 'Processando',
    'Cancelado': 'Cancelado'
}

# Criando a nova coluna com os valores mapeados
tabela['Status Simplificado'] = tabela['Status do Pedido'].map(mapeamento_status)

# Exibindo as primeiras linhas para verificar
print(tabela[['Status do Pedido', 'Status Simplificado']].head())

  Status do Pedido Status Simplificado
0         Entregue          Finalizado
1         Entregue          Finalizado
2         Entregue          Finalizado
3     Em andamento         Processando
4     Em andamento         Processando

In [ ]:
#  17. Crie uma nova coluna "Preço com Desconto", aplicando 10% de desconto sobre o valor original da venda.

# 1. Certifique-se de que existe a coluna 'Valor Total'
# Se não existir, crie com: Quantidade Vendida * Valor Unitário
tabela['Valor Total'] = tabela['Quantidade Vendida'] * tabela['Preço Unitário']

# 2. Criar nova coluna com 10% de desconto
tabela['Preço com Desconto'] = tabela['Valor Total'] * 0.90  # ou: tabela['Valor Total'] - (tabela['Valor Total'] * 0.10)

# 3. Exibir as primeiras linhas para conferir
print(tabela[['Produto', 'Valor Total', 'Preço com Desconto']].head())

         Produto  Valor Total  Preço com Desconto
0     Smartphone        10280              9252.0
1            SSD        35060             31554.0
2          Mouse        15102             13591.8
3        Monitor        10536              9482.4
4  Cadeira Gamer         6324              5691.6

In [ ]:
# 18. Quantos produtos estão na faixa de preço "Alto"?

# Contar quantos produtos estão na faixa "Alto"
quantidade_alto = (tabela['Faixa de Preço'] == 'Alto').sum()

print(f"Quantidade de produtos na faixa de preço 'Alto': {quantidade_alto}")

Quantidade de produtos na faixa de preço 'Alto': 94

In [ ]:
# 19. Use dropna() para excluir registros com valoresausentes e salve o DataFrame limpo em um novo arquivo CSV.

# 1. Remover registros com qualquer valor ausente
tabela_limpa = tabela.dropna()

# 2. Salvar o DataFrame limpo em um novo arquivo CSV
tabela_limpa.to_csv('drop_tabela.csv', index=False)

print("Registros com valores ausentes removidos e CSV salvo como 'drop_tabela.csv'")

Registros com valores ausentes removidos e CSV salvo como 'drop_tabela.csv'

In [ ]:
# 20. Faça a alteração da coluna "Quantidade Vendida" para o tipo inteiro e exiba o DataFrame.'''

# 1. Converter a coluna 'Quantidade Vendida' para inteiro
tabela['Quantidade Vendida'] = tabela['Quantidade Vendida'].astype(int)

# 2. Exibir o DataFrame atualizado
print(tabela.head())  # Ou apenas: tabela

   ID_Venda        Produto    Categoria  Quantidade Vendida  Preço Unitário  \
0         1     Smartphone  Eletrônicos                   5            2056
1         2            SSD  Eletrônicos                  10            3506
2         3          Mouse  Eletrônicos                   9            1678
3         4        Monitor  Eletrônicos                   3            3512
4         5  Cadeira Gamer  Eletrônicos                   2            3162

   Valor da Venda     Método de Pagamento Status do Pedido  Cliente_ID  \
0         10280.0                     NaN         Entregue        1094
1         35060.0       Cartão de Crédito         Entregue        1011
2         15102.0  Transferência Bancária         Entregue        1057
3             NaN                     Pix     Em andamento        1019
4          6324.0                     NaN     Em andamento        1044

  Data da Venda  Ano da Venda  Valor Total Faixa de Preço Status Simplificado  \
0    2025-02-07          2025        10280           Alto          Finalizado
1    2024-12-10          2024        35060           Alto          Finalizado
2    2024-06-03          2024        15102           Alto          Finalizado
3    2024-12-11          2024        10536           Alto         Processando
4    2024-05-26          2024         6324           Alto         Processando

   Preço com Desconto
0              9252.0
1             31554.0
2             13591.8
3              9482.4
4              5691.6